.concepts-header {
  padding: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.concepts-header img {
  width: 7rem;
  display: block;
  margin: 0 auto;
}

.concepts-header h2.concepts-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.concepts-header .concepts-description {
  margin: 0;
  font-size: 1rem;
  color: #ffffff;
}
