.concepts-item {
  background: #440c66;
  padding: 1.5rem;
  border-radius: 8px;
  width: 33%;
}

.concepts-item img {
  width: 6rem;
  height: 5rem;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.concepts-item h2.concepts-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.concepts-item .concepts-description {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}
